<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="w100" src="https://images.bewakoof.com/original/committed-half-sleeve-t-shirt-men-s-printed-t-shirts-235573-1569061059.jpg?tr=q-100" alt="product">
    </div>
    <div class="col-sm">
      <div class="col-12">
        <p>Product Name</p>
        <p>Product Actual Price</p>
        <p>Product Original Price</p>
      </div>
      <div class="col-12">
        <app-color-palette [colorList]="colorList" [selectedColor]="selectedColor"></app-color-palette>
      </div>
      <div class="col-12">
        <app-size [sizeList]="sizeList" [selectedSize]="selectedSize"></app-size>
      </div>
      <div class="col-12">
        <button class="btn btn-primary">
          Cart
        </button>
        <button class="btn btn-warning">
          Buy
        </button>
      </div>
    </div>
  </div>
</div>